<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Tracktus{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/tracktusapp/css/bootstrap.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/tracktusapp/css/bootstrap-responsive.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/tracktusapp/css/main.css')}}" />
	</head>
	<body>
		<div id="header" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ path('homepage') }}" class="brand">TracktUs</a>
                </div>
            </div>
			{% block header %}{% endblock %}
		</div>

		<div id="content" class="container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<p>Footer</p>
			{% block footer %}{% endblock %}
		 </div>
	</body>

</html>