{% extends 'TracktusAppBundle::layout.html.twig' %}
{% block title %}Dashboard - Tracktus{% endblock %}
{% block content %}
    <h1>{{('dashboard'| trans())|capitalize}}</h1>
    <div>
    <a href="{{ path('project_new') }}">{{ 'dashboard.project.new' | trans() }}</a>
    </div>
    <div>
    {% for project in projects %}
        <div class="project">
            <a href="{{ path('project_show', {'id': project.id})}}">{{ project.name}}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}